module.exports = {

    datastores: {
        default: {
            adapter: require('sails-mysql'),
            url: 'mysql://{{ mysql_production_user }}:{{ mysql_production_password }}@localhost:3306/{{ mysql_production_database }}',
        },
    },

    models: {
      migrate: 'safe',
    },

    security: {
        cors: {
            allowOrigins: [
                'https://{{ production_domain }}',
              {% if production_domain_aliases is defined %}
              {% for alias in production_domain_aliases %}
                'https://{{ alias }}',
              {% endfor %}
              {% endif %}
            ],
        },
    },

    cookie: {
        maxAge: 24 * 60 * 60 * 1000,
    },

    sockets: {
        onlyAllowOrigins: [
            'https://{{ production_domain }}',
          {% if production_domain_aliases is defined %}
          {% for alias in production_domain_aliases %}
            'https://{{ alias }}',
          {% endfor %}
          {% endif %}
        ],
    },

    log: {
      level: 'debug'
    },

    http: {
        cache: 365.25 * 24 * 60 * 60 * 1000,
        trustProxy: true,
    },

    port: 3000,

    custom: {
        baseUrl: 'https://{{ production_domain }}',
        internalEmailAddress: '{{ sails_contact_email }}',
    },

};
