server {
    listen 80;
    root /var/www/production;
    index index.html index.htm index.nginx-debian.html;
    server_name {{ production_domain }} {% if production_domain_aliases is defined %}{{ production_domain_aliases | join(' ') }}{% endif %};
    location / {
        proxy_pass http://localhost:1337;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
